# Import CSV file

In [3]:
# Read second column only
import pandas as pd
df = pd.read_csv('data.csv', usecols = ['Joined date'], low_memory = True)

In [4]:
df.dtypes

Joined date    object
dtype: object

In [5]:
df.rename(columns={'Joined date': 'joined'}, inplace=True)

In [6]:
df.joined

0       Fri Jul 01 2022 15:42:08 GMT+0000 (Coordinated...
1       Fri Jul 01 2022 15:42:08 GMT+0000 (Coordinated...
2       Fri Jul 01 2022 15:42:08 GMT+0000 (Coordinated...
3       Fri Jul 01 2022 15:42:08 GMT+0000 (Coordinated...
4       Fri Jul 01 2022 15:42:08 GMT+0000 (Coordinated...
                              ...
3765    Thu Aug 18 2022 06:43:29 GMT+0000 (Coordinated...
3766    Thu Aug 18 2022 07:10:54 GMT+0000 (Coordinated...
3767    Thu Aug 18 2022 08:01:18 GMT+0000 (Coordinated...
3768    Thu Aug 18 2022 08:19:54 GMT+0000 (Coordinated...
3769    Thu Aug 18 2022 08:37:17 GMT+0000 (Coordinated...
Name: joined, Length: 3770, dtype: object

In [7]:
df['date']=df['joined'].str[:15]

In [8]:
df.date

0       Fri Jul 01 2022
1       Fri Jul 01 2022
2       Fri Jul 01 2022
3       Fri Jul 01 2022
4       Fri Jul 01 2022
             ...
3765    Thu Aug 18 2022
3766    Thu Aug 18 2022
3767    Thu Aug 18 2022
3768    Thu Aug 18 2022
3769    Thu Aug 18 2022
Name: date, Length: 3770, dtype: object

In [9]:
# Change the data to Date Format of Pandas 
# https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587
df['joined'] = pd.to_datetime(df['date'], format='%a %b %d %Y' )

In [10]:
df.joined

0      2022-07-01
1      2022-07-01
2      2022-07-01
3      2022-07-01
4      2022-07-01
          ...
3765   2022-08-18
3766   2022-08-18
3767   2022-08-18
3768   2022-08-18
3769   2022-08-18
Name: joined, Length: 3770, dtype: datetime64[ns]

In [11]:
df.dtypes

joined    datetime64[ns]
date              object
dtype: object

In [12]:
aa = pd.value_counts(df.joined).to_frame().reset_index()
ab = aa.sort_values(by='index')
print(ab)

        index  joined
3  2022-07-01     248
0  2022-07-02     506
7  2022-07-03     140
6  2022-07-04     155
30 2022-07-05      25
20 2022-07-06      51
16 2022-07-07      72
25 2022-07-08      38
31 2022-07-09      25
11 2022-07-10     100
12 2022-07-11      94
1  2022-07-12     463
9  2022-07-13     104
8  2022-07-14     138
27 2022-07-15      32
38 2022-07-16      10
13 2022-07-17      86
2  2022-07-18     251
18 2022-07-19      61
17 2022-07-20      64
41 2022-07-21       8
14 2022-07-22      82
21 2022-07-23      48
24 2022-07-24      38
15 2022-07-25      75
22 2022-07-26      44
29 2022-07-27      26
19 2022-07-28      59
4  2022-07-29     219
35 2022-07-30      15
5  2022-07-31     156
10 2022-08-01     102
28 2022-08-02      26
48 2022-08-03       4
40 2022-08-04       8
45 2022-08-05       5
34 2022-08-06      16
39 2022-08-07       8
37 2022-08-08      13
36 2022-08-09      14
43 2022-08-10       5
44 2022-08-11       5
23 2022-08-12      42
32 2022-08-13      21
42 2022-08-14       7
46 2022-08-15       5
26 2022-08-16      32
33 2022-08-17      19
47 2022-08-18       5

In [26]:
ac = ab.reset_index()
ac.to_csv("export.csv")

In [27]:
ac

    level_0      index  joined
0         3 2022-07-01     248
1         0 2022-07-02     506
2         7 2022-07-03     140
3         6 2022-07-04     155
4        30 2022-07-05      25
5        20 2022-07-06      51
6        16 2022-07-07      72
7        25 2022-07-08      38
8        31 2022-07-09      25
9        11 2022-07-10     100
10       12 2022-07-11      94
11        1 2022-07-12     463
12        9 2022-07-13     104
13        8 2022-07-14     138
14       27 2022-07-15      32
15       38 2022-07-16      10
16       13 2022-07-17      86
17        2 2022-07-18     251
18       18 2022-07-19      61
19       17 2022-07-20      64
20       41 2022-07-21       8
21       14 2022-07-22      82
22       21 2022-07-23      48
23       24 2022-07-24      38
24       15 2022-07-25      75
25       22 2022-07-26      44
26       29 2022-07-27      26
27       19 2022-07-28      59
28        4 2022-07-29     219
29       35 2022-07-30      15
30        5 2022-07-31     156
31       10 2022-08-01     102
32       28 2022-08-02      26
33       48 2022-08-03       4
34       40 2022-08-04       8
35       45 2022-08-05       5
36       34 2022-08-06      16
37       39 2022-08-07       8
38       37 2022-08-08      13
39       36 2022-08-09      14
40       43 2022-08-10       5
41       44 2022-08-11       5
42       23 2022-08-12      42
43       32 2022-08-13      21
44       42 2022-08-14       7
45       46 2022-08-15       5
46       26 2022-08-16      32
47       33 2022-08-17      19
48       47 2022-08-18       5

In [29]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'